/* Article Cards */
.article-card {
    color: #194f49;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    border: 2px dashed #194f4990;
    border-radius: 20px;
    background: linear-gradient(to left bottom, #d5e2da, #fff);
}

.card-title {
    font-family: 'Karla', sans-serif;
}

.card-title a:hover {
    color: #cc4818;
}

.article-image {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.feature-image {
    height: 350px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 1) 92%);
    z-index: 1;
}