/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&family=Karla:wght@200;300;400;500&display=swap');

:root {
    /* fonts */
    --title: 'Karla', sans-serif;
    --main-font: 'Inconsolata', monospace;

    /* colours */
    --forest: #194f49;
    --yellow: #ffc824;
    --bluegreen: #0e7373;
    --purple: #8E164E;
    --gold: #CC4818;
    --white: #fff;
    --black: #0d0d0d;

}

a:hover,
a:focus,
a:active {
    color: var(--purple);
}

/* Article Cards */
.article-card {
    color: #194f49;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    border: 2px dashed #d5e2da;
    border-radius: 20px;
    background: linear-gradient(to left bottom, #d5e2da, #fff);
}

.article-card:hover {
    border: 2px dashed #194f4990;
    cursor: pointer;
}

.card-title {
    font-family: 'Karla', sans-serif;
    color: #194f49;
}

.card-title:hover {
    color: #cc4818;
}

.article-image {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 17px;
}

.article-title {
    color: #cc4818;
}

.feature-image {
    height: 350px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 1) 92%);
    z-index: 1;
}

.article-text {
    font-size: 20px;
}

/* Edit/Delete buttons & Modal */
.btn-danger {
    background-color: #ef6674;
    border: none;
    border-radius: 20px;
}

.btn-danger:hover {
    background-color: #ed9aa2;
    border: none;
}

.btn-info {
    border: none;
    border-radius: 20px;
    background-color: #45a5b3;
}

.btn-info:hover {
    border: none;
    background-color: #65aeba;
}

.modal-body {
    color: var(--forest);
}

.modal-content {
    font-size: 18px;
    bottom: 0px;
}    

.modal-footer {
    border-top: none;
}

button.btn.btn-secondary,
button.btn-danger {
    border-radius: 20px;
}