{% extends 'base.html' %}

{% load static %}

{% block title %}Articles{% endblock %}

{% block content %}

<section id="hero-image">
    <div class="container-fluid hero-banner w-100 mb-5">
        <div class="text-right">
        <p class="text-white pt-5 mx-5">Illustration will go here..</p>
        </div>
        <div class="text-left hero-text-panel">
            <p class="text-white text-center mt-5 hero-text">Discover the freedom of a lighter life with just the essentials.</p>
            <a href="{% url 'products' %}">
            <img src="{% static 'images/hero_button.png' %}" class="hero-button" alt="vector shape for hero button, pill shape with circle end">
            <p class="hero-btn-txt">Get Started</p>
            <img src="{% static 'icons/eco_leaf.png' %}" class="hero-btn-icon" alt="leaf icon for hero button, brings you to 'All Products' page">
            </a>
        </div>
    </div>
</section>
<section id="bestsellers">
    <div class="container-fluid text-center mb-5 best-sec">
      <h2 class="heading-text pt-5 best-heading">Bestsellers</h3>
    </div>
    <!-- Bootstrap Carousel for ecomm items credit -> Bootstrap docs & https://www.youtube.com/watch?v=8g9Glz5VlZo  -->
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center ">
                        <!-- Product 1 -->
                        <img src="{% static 'images/product_placeholder.png' %}" class="img-fluid product-ph" alt="Product 1">
                        <h4 class="mt-4">Product 1</h4>
                        <p>Description of Product 1</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                        <!-- Product 2 -->
                        <img src="{% static 'images/product_placeholder.png' %}" class="img-fluid product-ph" alt="Product 2">
                        <h4 class="mt-4">Product 2</h4>
                        <p>Description of Product 2</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                        <!-- Product 3 -->
                        <img src="{% static 'images/product_placeholder.png' %}" class="img-fluid product-ph" alt="Product 3">
                        <h4 class="mt-4">Product 3</h4>
                        <p>Description of Product 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
</section>

<section id="our_mission">
    <div class=" container-fluid text-center w-100 mission-sec mt-5">
        <h2 class="text-center pt-5 pb-3 heading-text">Our Mission</h2>
    </div>
    <div class="w-100">
        <!-- wave effect for bottom of div -->
        <img src="{% static 'images/div_wave.png' %}" class="mission-wave" alt="div bottom wave effect">
    </div>
</section>
<section id="pack_styles">
    <div class="container-fluid text-center mb-5 pack-sec">
        <h2 class="heading-text mb-5">Pack Styles</h3>
            <div class="row justify-content-center mt-2">
            <div class="col-md-3 col-sm-4 mx-2 mb-4">
                <img src="{% static 'images/light_vec.png' %}" class="img-fluid light-pack" alt="vector shape for illustration">
                <h3 class="text-center heading-text mt-4">Light</h3>
                <ul class="text-center list-group mt-2 mb-3">
                    <li class="list-group-item">- One</li>
                    <li class="list-group-item">- Two</li>
                    <li class="list-group-item">- Three</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 mx-2 mb-4">
                <img src="{% static 'images/medium_vec.png' %}" class="img-fluid medium-pack" alt="vector shape for illustration">
                <h3 class="text-center heading-text mt-4">Medium</h3>
                <ul class="text-center list-group mt-2 mb-3">
                    <li class="list-group-item">- One</li>
                    <li class="list-group-item">- Two</li>
                    <li class="list-group-item">- Three</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 mx-2 mb-4">
                <img src="{% static 'images/everything_vec.png' %}" class="img-fluid everything-pack" alt="vectore shape for illustration">
                <h3 class="text-center heading-text mt-4">Everything</h3>
                <ul class="text-center list-group mt-2 mb-3">
                    <li class="list-group-item">- One</li>
                    <li class="list-group-item">- Two</li>
                    <li class="list-group-item">- Three</li>
                </ul>
            </div>
            </div>
    </div>
</section>

{% endblock %}