{% extends 'base.html' %}

{% load static %}

{% block title %}Wishlist{% endblock %}

{% block content %}

<div class="container mt-5 text-center">
    <div class="row">
        <h1 class="col section-title my-3">Wishlist</h1>
    </div>
    <div class="row wishlist-border p-2 mb-4 m-2 shadow">
        <div class="col-12">
            {% if user_wishlist %}
            <ul class="list-group">
                {% for item in user_wishlist %}
                <li class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                <img class="w-100 wishlist-prod" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                <img class="w-100 wishlist-prod" src="{{ MEDIA_URL }}product_placeholder.png"
                                    alt="{{ item.product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-6 text-left">
                            <p class="my-0">{{ item.product.name }}</p>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'remove_from_wishlist' item.product.id %}" class="wishlist-delete">
                                <i class="fas fa-trash wishlist-icon"></i> Remove
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="col-12 text-center my-5">
                <p class="p-txt">Your wishlist is empty.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

