/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&family=Karla:wght@200;300;400;500&display=swap');

:root {
    /* fonts */
    --title: 'Karla', sans-serif;
    --main-font: 'Inconsolata', monospace;

    /* colours */
    --forest: #194f49;
    --yellow: #ffc824;
    --bluegreen: #0e7373;
    --purple: #8E164E;
    --gold: #CC4818;
    --white: #fff;
    --black: #0d0d0d;

}

/* html,
body {
    height: 100%;
} */

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: var(--title);
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: var(--title);
}

a {
    text-decoration: none !important;
}

em {
    font-size: medium;
}

ul li {
    list-style-type: none;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
    margin-top: 110px;
    overflow: auto;
}

header {
    height: 110px;
    margin-bottom: 20px;
}

/* Forms */
/* Remove blue highlight shadow from around input field when selected - credit: https: //tinyurl.com/yk2uaf8c */
input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* Header - Navbar, Search, Navitems */
/* inspired by Patagonia's delivery banner */
.delivery_dropdown {
    background: linear-gradient(-45deg, #0e7373, #194f49, #8E164E, #CC4818);
    background-size: 400vw 400vw;
    animation: gradient 9s ease infinite alternate;
}

.delivery_ban {
    font-family: var(--main-font);
}

@keyframes gradient {
    0% {
        background: var(--bluegreen);
    }

    40% {
        background: var(--forest);
    }

    80% {
        background: var(--purple);
    }

    100% {
        background: var(--gold);
    }
}

.dropdown_white_arrow {
    height: 10px;
    width: 16px;
}

.navbar-logo {
    color: var(--forest);
    font-size: 38px;
    font-weight: bold;
    margin-right: 45px;
}

.navbar-logo:hover {
    color: var(--forest);
}

.modal-header {
    border-style: none;
}

.modal-content {
    background-color: #f8f9fa;
    border: 5px dashed #194f49;
    bottom: 170px;
    padding: 25px 35px 25px 35px;
    border-radius: 15px;
}

.search-box {
    background-color: #194f4929;
    border-style: none;
    border-radius: 30px;
    font-size: 1.25rem;
    font-family: var(--main-font);
}

.search-box:focus {
    background-color: #194f4929;
}

.search-icon {
    height: 20px;
    width: 20px;
}

.search-button {
    background-color: #0e7373;
    color: white;
    border-radius: 35px;
    border: none;
    padding: 8px 13px 8px 13px;
    transition: transform 0.3s;
}

.search-button:hover {
    transform: scale(1.05);
}

.search-button:active {
    transform: scale(0.95);
}

.search-button:focus {
    outline: none;
}

.close {
    color: var(--forest);
    font-size: 2rem;
}

.close:focus {
    outline: none;
}

.nav-image {
    height: 35px;
    width: 35px;
    transition: transform 0.3s ease;
}

.nav-image:active {
    transform: scale(0.9);
}

.nav-search {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.nav-search:active {
    transform: scale(0.9);
}

.nav-link {
    padding: 0;
}

.nav-item {
    transition: transform 0.3s;
    transform-origin: center;
}

.nav-item:hover {
    transform: scale(1.10);
}

.nav-item:active {
    transform: scale(0.95);
}

/* CSS styling for active links in navbar targetting only the parent anchor tags */
.active-nav-item > a {
    font-weight: bold;
}

.nav-links {
    color: var(--forest);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none !important;
}

.nav-links:hover {
    color: #0b201e;
}

/* Fix padding issue with accounts dropdown */
#user-options {
    padding: 0;
}

/* Stop other nav items from moving when search bar is hovered over by setting alignment and removing padding/margin */
ul.nav-menu {
    margin: 0;
    padding: 0;
}

ul.nav-menu li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    /* Set line-height to vertically align the content */
    vertical-align: middle;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.dropdown-item {
    color: #0b201e;
    font-size: 18px;
}

.dropdown-item:hover {
    background-color:#194f4930;
}

.dropdown-item:active {
    background-color: #0e7373;
    color: #fff;
}

/* Hero section */
.hero-banner {
    background-color: #194f4990;
    height: 600px;
    position: relative;
}

.hero-text-panel {
    background-color: var(--forest);
    height: 460px;
    width: 415px;
    border-radius: 60px;
    position: absolute;
    left: 225px;
    top: 236px;
}

.hero-button {
    z-index: 1;
    position: absolute;
    left: 40px;
    top: 295px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.hero-btn-txt {
    z-index: 2;
    font-size: 32px;
    position: absolute;
    top: 338px;
    left: 83px;
    color: var(--forest);
    font-weight: 500;
}

.hero-btn-icon {
    z-index: 2;
    position: absolute;
    top: 339px;
    left: 286px;

}

.heading-text {
    color: var(--forest);
}

.best-sec {
    color: #fff;
    height: 350px;
}

.best-heading {
    margin-top: 115px;
}

.mission-sec {
    background-color: #0e737365;
    height: 400px;
}

.mission-wave {
    width: 100%;
}

.pack-sec {
    color: #fff;
}

.light-pack,
.medium-pack,
.everything-pack {
    height: 500px;
}

.list-group,
.list-group-item {
    border : none;
}

.list-group-item {
    color: var(--forest);
    font-size: 24px;
    font-family: var(--main-font);
}

/* Footer */
footer {
    overflow: hidden;
}
.footer-bg {
    background: linear-gradient(to bottom, var(--bluegreen), var(--forest));
}

.social {
    display: flex;
    flex-direction: row;
}

.social-icon {
    height: 1.5rem;
    margin-left: 1.5rem;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.15);
}

.social-icon:active {
    transform: scale(0.95);
}

.footer-info {
    font-family: var(--main-font);
    border-bottom: 5px dashed #194f4995;
    padding-bottom: 5px;
}

.footer-links {
    color: var(--white);
    font-family: var(--main-font);
    text-align: right;
    font-size: 18px;
}

.footer-links:hover {
    color: #e0e0e0;
    text-decoration: none;
}

.copyright {
    font-family: var(--main-font);
}

/* Newsletter template and SVG from Bootsnipp credit -> https: //bootsnipp.com/snippets/6XVAB */
.newsletter {
    position: relative;
    padding-top: 30px;
    padding-left: 15px;
    flex-grow: 1;
}

.newsletter svg {
    position: absolute;
    z-index: 0;
    top: -135px;
    left: -70px;
    fill: var(--purple);
}

.newsletter .newsletter-title {
    margin-bottom: 15px;
    color:#fff;
    font-size: 50px;
    letter-spacing: -.02em;
    line-height: 1;
    position: relative;
    z-index: 999;
}

.newsletter .newsletter-text {
    color: #fff;
    position: relative;
    z-index: 999;
    max-width: 450px;
    font-size: 18px;
    font-family: var(--main-font);
}

.newsletter .newsletter-form {
    position: relative;
    max-width: 355px;
    margin-top: 23px;
    z-index: 999;
}

.newsletter .newsletter-form input {
    height: 55px;
    width: 100%;
    padding: 18px 135px 17px 30px;
    border: 0 none;
    border-radius: 20px;
    outline: none;
    background-color: #fff;
    color: #000000;
    font-size: 1.125rem;
    line-height: 1;
    font-family: var(--main-font)
}

.newsletter .newsletter-form button {
    width: 116px;
    height: 36px;
    transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
    border-radius: 15px;
    background-color: var(--gold);
    color: #fff;
    font-size: .875rem;
    line-height: 1;
    position: absolute;
    right: 9px;
    bottom: 9px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.newsletter-button {
    transition: transform 0.3s;
    transform-origin: center;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.newsletter-button:hover {
    transform: scale(1.05);
    background-color:#cc5428;
}

.newsletter-button:active {
    transform: scale(0.95);
}

/* Media queries for mobile - under 1024px */
@media (max-width: 1024px) {
    .hero-text-panel {
        height: 435px;
        width: 400px;
        left: 132px;
        top: 258px;
    }

    .hero-button {
        left: 53px;
        top: 284px;
        width: 295px;
        height: 116px;
    }

    .hero-btn-txt {
        top: 319px;
        left: 78px;
        font-size: 31px;
    }

    .hero-btn-icon {
        top: 321px;
        left: 269px;
        height: 45px;
    }

    .modal-content {
        bottom: 30px;
        padding: 20px 30px 20px 30px;
    }
}

/* Media queries for mobile - under 896px */
@media (max-width: 896px) {
    .modal-content {
        bottom: 30px;
        padding: 15px;
    }
}

/* Media queries for mobile - under 576px */
@media (max-width: 576px) {
    .navbar {
        padding: 1rem 1rem;
    }

    .hero-banner {
        height: 450px;
    }

    .hero-text-panel {
        height: 338px;
        width: 280px;
        left: 55px;
        top: 182px;
    }

    .hero-button {
        left: 45px;
        top: 226px;
        height: 80px;
        width: 200px;
    }

    .hero-btn-txt {
        font-size: 21px;
        top: 250px;
        left: 63px;
    }

    .hero-btn-icon {
        top: 253px;
        left: 193px;
        height: 28px;
    }

    .nav-float {
        border-radius: 0;
    }

    .modal-content {
        padding: 20px;
        border-radius: 10px;
    }

    .newsletter .newsletter-title {
        font-size: 35px;
    }

    .newsletter .newsletter-text {
        font-size: 16px;
    }

    .newsletter .newsletter-form {
        margin-bottom: 110px;
    }

    .newsletter .newsletter-form input {
        width: 97%;
    }

    .newsletter .newsletter-form button {
        right: 20px;
    }

    .newsletter svg {
        top: -160px;
    }

    .footer-right {
        margin: 0 auto;
        text-align: center;
    }

    .social-icon {
        height: 1.25rem;
        margin: 0.5rem;
    }
}

/* Media queries for small mobile - under 375px */
@media (max-width: 375px) {
    .hero-banner {
        height: 350px;
    }
    
    .hero-text-panel {
        height: 237px;
        width: 205px;
        left: 57px;
        top: 165px;
    }

    .hero-button {
        left: 32px;
        top: 154px;
        height: 57px;
        width: 143px;  
    }

    .hero-btn-txt {
        font-size: 16px;
        top: 170px;
        left: 43px;
    }

    .hero-btn-icon {
        top: 173px;
        left: 139px;
        height: 20px;
    }

    .modal-content {
        bottom: 70px;
        padding: 10px;
    }

    .newsletter .newsletter-form input {
        font-size: 1rem;
        padding: 18px 135px 17px 18px;
    }


}