/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Karla:wght@200;300;400;500&display=swap');

:root {
    /* fonts */
    --title: 'Karla', sans-serif;
    --main-font: 'Inconsolata', monospace;

    /* colours */
    --forest: #194f49;
    --yellow: #ffc824;
    --bluegreen: #0e7373;
    --earth: #913d17;
    --lightearth: #de7c50;
    --white: #fff;
    --black: #0d0d0d;

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--title);
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: var(--title);
}

a {
    text-decoration: none;
}

li a {
    text-decoration: none;
}

em {
    font-size: medium;
}

ul li {
    list-style-type: none;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Forms */
/* Border radius for form inputs */
.form-control {
    border-radius: 15px;
}

/* Remove blue highlight shadow from around input field when selected - credit: https: //tinyurl.com/yk2uaf8c */
input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* Header - Navbar, Search, Navitems */
.navbar-logo {
    color: var(--forest);
    font-size: 38px;
    font-weight: bold;
}

.navbar-logo:hover {
    color: var(--forest);
}

.search-button {
    background-color: var(--white);
    border: none;
}

.search-button:focus {
    outline: none;
}

.search-box {
    background-color: #194f4929;
    border-style: none;
}

.search-box:focus {
    background-color: #194f4929;
}

.form-control:focus {
    border: 3px dashed #194f4995;
}

/* search bar show/hide */
.form-control:not(.show) {
    display: none;
}

.nav-image {
    height: 35px;
    width: 35px;
}

.nav-search {
    height: 30px;
    width: 30px;
}

.nav-links {
    color: var(--forest);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none !important;
}

.nav-links:hover {
    color:#0b201e;
}

/* Fix padding issue with accounts dropdown */
#user-options {
    padding: 0;
}

/* Stop other nav items from moving when search bar is hovered over by setting alignment and removing padding/margin */
ul.nav-menu {
    margin: 0;
    padding: 0;
}

ul.nav-menu li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    /* Set line-height to vertically align the content */
    vertical-align: middle;
}

#main-nav {
    background-color: #194f4930;
}

/* Footer */
.footer-bg {
    background-color: var(--forest);
}

.social {
    display: flex;
    flex-direction: row;
}

.social-icon {
    height: 1.5rem;
    margin: 1rem;
}

.footer-links {
    color: var(--white);
    text-decoration: none;
}

/* Media queries for mobile - under 576px */
@media (max-width: 576px) {
    .social-icon {
        height: 1.25rem;
        margin: 0.5rem;
    }
}