/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&family=Karla:wght@200;300;400;500&display=swap');

:root {
    /* fonts */
    --title: 'Karla', sans-serif;
    --main-font: 'Inconsolata', monospace;

    /* colours */
    --forest: #194f49;
    --yellow: #ffc824;
    --bluegreen: #0e7373;
    --purple: #8E164E;
    --gold: #CC4818;
    --white: #fff;
    --black: #0d0d0d;
}

a {
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: var(--purple);
}

body {
    color: var(--forest);
}

select.form-control,
input.form-control,
textarea.form-control {
    border-radius: 20px !important;
}

.admin-btn {
    border-radius: 15px;
    background: linear-gradient(to bottom, #e5ede8, #b5c9bd);
    color: var(--forest);
    border: none;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
    transform-origin: center;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    height: 75%;
}

.admin-btn:hover {
    transform: scale(1.05);
    background-color: #e1f0e7;
    text-decoration: none;
    color: #194f49;
}

.admin-btn:active {
    transform: scale(0.95);
    border: none;
}

.admin-btn:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px dashed #194f4990;
}

.form-control {
    border-radius: 10px!important;
    font-size: 18px;
    border: 1px solid #194f4970;
    font-family: var(--main-font);
}

select:focus,
select.custom-select:focus,
select.form-control {
    outline: 2px dashed #194f4990 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

/* Product List */
.table {
    color: var(--forest);
    font-size: 18px
}

/* Edit/Delete buttons & modal */
.btn-danger {
    background-color: #ef6674;
    border: none;
    border-radius: 20px;
}

.btn-danger:hover {
    background-color: #ed9aa2;
    border: none;
}

.btn-info {
    border: none;
    border-radius: 20px;
    background-color: #45a5b3;
    font-size: 22px;
}

.btn-info:hover {
    border: none;
    background-color: #65aeba;
}

.modal-content {
    bottom: 0px;
}

.modal-content {
    font-size: 18px;
}

.modal-footer {
    border-top: none;
}

button.btn.btn-secondary,
button.btn-danger {
    border-radius: 20px;
}

.product-list {
    border: 3px dashed #194f4990;
    border-radius: 30px;
}

/* Media queries for mobile - under 1024px */
@media (max-width: 1024px) {
    .btn-info,
    .btn-danger {
        font-size: 18px;
    }

    .table {
        font-size: 16px;
    }
}

/* Media queries for mobile - under 896px */
@media (max-width: 896px) {

    .btn-info,
    .btn-danger {
        font-size: 18px;
    }

    .table {
        font-size: 16px;
    }

    .product-list {
        border: none;
    }
}
