<script>
    // Scroll back to top button  credit -> https://devdevshow.com/back-to-top-button-scroll-button-css/
    // Get the button element
    const scrollToTopBtn = document.getElementById('bttBtn');

    // Attach a scroll event listener to the window
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        // Check if the user has scrolled more than 20 pixels from the top
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopBtn.style.opacity = '1';
            scrollToTopBtn.style.visibility = 'visible';
        } else {
            scrollToTopBtn.style.opacity = '0';
            scrollToTopBtn.style.visibility = 'hidden';
        }
    }

    // Function to scroll to the top
    function topFunction() {
        // For Safari
        document.body.scrollTop = 0;

        // For Chrome, Firefox, IE, and Opera
        document.documentElement.scrollTop = 0;
    }

    scrollToTopBtn.onclick = function () {
        topFunction(); // Call the topFunction to scroll to the top
    };
</script>