<script>
    $(document).ready(function () {
        // Close the search modal
        $("#searchModal").on('hidden.bs.modal', function () {
            $("#searchInput").val(""); // Clear the search input when the modal is closed
        });

        $(".nav-item.dropdown").on({
            mouseenter: function () {
                $(this).find(".dropdown-menu").addClass("show");
            },
            mouseleave: function () {
                $(this).find(".dropdown-menu").removeClass("show");
            },
        });

        $(".list-inline-item.dropdown").on({
            mouseenter: function () {
                $(this).find(".dropdown-menu").addClass("show");
            },
            mouseleave: function () {
                $(this).find(".dropdown-menu").removeClass("show");
            },
        });

        // nav links open to page on click
        $(".nav-links").on("click", function () {
            window.location.href = $(this).attr("href");
        });

         // Show the toast
        $('.toast').toast('show');

        // Automatically hide the toast after 5 seconds
        setTimeout(function () {
            $('.toast').toast('hide');
        }, 5000);

    });

    // Delivery banner dropdown function
    document.addEventListener("DOMContentLoaded", function () {
            // Dropdown arrow and content
            var droparrow = document.getElementById("dropdown-arrow");
            var content = document.getElementById("dropdown-content");
            var closeButton = document.getElementById("close-button");

            // On click, drop the delivery banner
            droparrow.addEventListener("click", function () {
                content.style.display = "block";
            });

            // On click, close the delivery banner
            closeButton.addEventListener("click", function () {
                content.style.display = "none";
            });
    });
</script>
