<script>
    $(document).ready(function () {
        // Close the search modal
        $("#searchModal").on('hidden.bs.modal', function () {
            $("#searchInput").val(""); // Clear the search input when the modal is closed
        });

        $(".nav-item.dropdown").on({
            mouseenter: function () {
                $(this).find(".dropdown-menu").addClass("show");
            },
            mouseleave: function () {
                $(this).find(".dropdown-menu").removeClass("show");
            },
        });

        $(".list-inline-item.dropdown").on({
            mouseenter: function () {
                $(this).find(".dropdown-menu").addClass("show");
            },
            mouseleave: function () {
                $(this).find(".dropdown-menu").removeClass("show");
            },
        });

        // nav links open to page on click
        $(".nav-links").on("click", function () {
            window.location.href = $(this).attr("href");
        });

         // Show the toast
        $('.toast').toast('show');

        // Automatically hide the toast after 5 seconds
        setTimeout(function () {
            $('.toast').toast('hide');
        }, 5000);

    });


    // Delivery banner dropdown function
    document.addEventListener("DOMContentLoaded", function () {
        var droparrow = document.getElementById("dropdown-arrow");
        var content = document.getElementById("dropdown-content");
        var closeButton = document.getElementById("close-button");
        var pageContents = document.getElementById("page-contents");  // Target only contents behind delivery banner

        droparrow.addEventListener("click", function () {
            if (content.classList.contains('open')) {
                content.classList.remove('open');    // Roll banner up
                pageContents.classList.remove('blurred-content');  // Remove blur from the main content
            } else {
                content.classList.add('open');    // Roll banner down
                pageContents.classList.add('blurred-content');   // Add blur to the main content
            }
        });

        closeButton.addEventListener("click", function () {
            content.classList.remove('open');    // Roll banner up (in case it's down)
            pageContents.classList.remove('blurred-content');  // Remove blur from the main content
        });
    });
</script>
