{% load static %}

<div class="dropdown">
    <div class="text-center w-100 p-2 text-white delivery_dropdown">
        <span class="delivery_ban" id="dropdown-arrow">
            Free delivery on orders over €{{ free_delivery_threshold }}
            <img src="{% static 'icons/dropdown_white.png' %}" class="dropdown_white_arrow"
                alt="dropdown arrow for delivery information overlay">
        </span>
    </div>
    <div class="dropdown-content" id="dropdown-content">
        <span class="close-button" id="close-button">X</span>
        <div class="row mt-5 p-5">
            <div class="col-md-4 col-sm-12 mb-1">
                <h3 class="mt-2 text-white delivery-header">Delivery Options</h3>
                <p class="mt-3 dropdown-txt">
                    We offer a variety of delivery methods, prioritising environmentally friendly options. Customers can avail of our standard delivery, which is carbon-neutral. Packaging is minimal and made from recycled or compostable materials.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 mb-1">
                <h3 class="mt-2 text-white delivery-header">Our Pledges</h3>
                <p class="mt-3 dropdown-txt">
                    We are committed to reducing our carbon footprint. Our delivery vehicles are either electric or
                    hybrid. Additionally, we have partnered with organisations that plant trees to offset the carbon
                    emissions from our operations. We continuously seek ways to make our supply chain greener and more
                    sustainable.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 mb-1">
                <h3 class="mt-2 text-white delivery-header">Contact Us</h3>
                <p class="mt-3 dropdown-txt">
                    Have questions or suggestions? Reach out to our dedicated customer support team. Email us at
                    support@everneed.com or call us at +123-456-7890. Your feedback helps us improve and become more
                    eco-conscious.
                </p>
            </div>
        </div>
    </div>
</div>