{% load static %} 

<footer class="footer-bg text-white">
    <div class="container py-4">
        <div class="row justify-content-between">
            <!-- Social Media Icons -->
            <div class="col-6 col-md-3 social social-icons align-items-start">
                <a href="https://www.facebook.com/" target="blank" rel="noopener" aria-label="Facebook-opens in a new tab"
                    title="Facebook">
                    <img src="{% static 'icons/facebook.png' %}" alt="Facebook Icon" class="social-icon">
                </a>
                <a href="https://twitter.com/home" target="blank" rel="noopener" aria-label="Twitter-opens in a new tab"
                    title="Twitter">
                    <img src="{% static 'icons/twitter.png' %}" alt="Twitter Icon" class="social-icon">
                </a>
                <a href="https://www.linkedin.com/in/amy-richardson-dev/" target="blank" rel="noopener"
                    aria-label="LinkedIn-opens in a new tab" title="LinkedIn">
                    <img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn Icon" class="social-icon">
                </a>
                <a href="https://github.com/amylour" target="blank" rel="noopener" aria-label="Github-opens in a new tab"
                    title="GitHub">
                    <img src="{% static 'icons/github.png' %}" alt="Github Icon" class="social-icon">
                </a>
            </div>
            <!-- links -->
            <div class="col-6 text-right">
                <div class="row justify-content-end">
                    <div class="col-12 col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="text-center pt-4">
            <p>&copy; 2023 Amy Richardson - For Educational Purposes Only</p>
        </div>
    </div>
</footer>