{% load static %}

<footer class="footer-bg text-white">
    <div class="container py-4">
        <div class="row justify-content-between">
            <!-- Newsletter sign up -> credit: https://bootsnipp.com/snippets/6XVAB -->
            <div class="newsletter js-rollover" data-radius="50">
                <svg viewBox="0 0 694 549" width="550" height="450">
                    <path
                        d="M74.7,439.6c58.9,76.3,152.2,113.1,224.6,109C585.8,532.3,734.2,295,684.7,94.2C658.7-11.3,508.1-8.6,433.6,9.8C384.1,22,329.1,47.8,277.8,60.4c-42.5,10.5-90,7.2-130.4,17.1C60.4,99-21.1,201.9,4.9,307.6C16.7,355.3,45.2,401.4,74.7,439.6z">
                    </path>
                </svg>
                <!-- Mailchimp form -->
                <form method="POST" action="https://gmail.us21.list-manage.com/subscribe/post?u=02a9db07ba08bf118ac082693&amp;id=2229a84992&amp;f_id=0023e3e6f0"
                    class="newsletter-form validate" target="_blank" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                    <h2 class="newsletter-title">Hear from us . . .</h2>
                    <p class="newsletter-text">Subscribe to our weekly newsletter</p>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL" class="visually-hidden">Email Address:</label>
                        <input type="email" name="EMAIL" id="mce-EMAIL" class="shadow required email" placeholder="Enter your email"
                            required="">
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <!-- Hidden field to prevent bot signups -->
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_02a9db07ba08bf118ac082693_2229a84992" tabindex="-1" value="">
                    </div>
                    <button type="submit" class="button newsletter-button">Subscribe</button>
                </form>
            </div>
            <div class="justify-content-end mt-2 footer-right">
                <!-- links -->
                <div class="col-12 mb-4">
                    <div class="text-center text-lg-right">
                        <h4 class="mt-3 font-weight-bold footer-info">Information</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'home' %}" class="footer-links">Home</a></li>
                            <li><a href="{% url 'products' %}" class="footer-links">Shop</a></li>
                            <li><a href="{% url 'home' %}#faq" class="footer-links">FAQ</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#contactModal" class="footer-links">Contact Us</a></li>
                            <li><a href="https://www.termsfeed.com/live/b360659f-1925-459c-94b9-5161ba1f7aa4" target="_blank" class="footer-links">Privacy
                                    Policy</a></li>
                            <li><a href="{% url 'terms_conditions' %}" class="footer-links">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Social Media Icons -->
                <div class="col-6 col-md-3 social social-icons mt-4">
                    <a href="https://www.facebook.com/profile.php?id=61552368530738" target="blank" rel="noopener"
                        aria-label="Facebook-opens in a new tab" title="Facebook">
                        <img src="{% static 'icons/facebook.png' %}" alt="Facebook Icon" class="social-icon">
                    </a>
                    <a href="https://twitter.com/home" target="blank" rel="noopener"
                        aria-label="Twitter-opens in a new tab" title="Twitter">
                        <img src="{% static 'icons/twitter.png' %}" alt="Twitter Icon" class="social-icon">
                    </a>
                    <a href="https://www.linkedin.com/in/amy-richardson-dev/" target="blank" rel="noopener"
                        aria-label="LinkedIn-opens in a new tab" title="LinkedIn">
                        <img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn Icon" class="social-icon">
                    </a>
                    <a href="https://github.com/amylour" target="blank" rel="noopener"
                        aria-label="Github-opens in a new tab" title="GitHub">
                        <img src="{% static 'icons/github.png' %}" alt="Github Icon" class="social-icon">
                    </a>
                </div>
            </div>
        </div>
        <!-- copyright -->
    </div>
    <div class="text-center pt-4 copyright mt-4 p-3">
        <div class="footer-address">
            <a href="https://maps.app.goo.gl/wubABC58uFQbzMQv5" target="_blank" class="address-link">
            <i class="fas fa-map-marker-alt mb-3"></i>
            <p class="footer-p mb-2">Mount Street, Mullingar, Co.Westmeath, Ireland</p>
            </a>
        </div>
        <p class="footer-p">&copy; 2023 Amy Richardson - Fictional Content. For Educational Purposes Only.</p>
    </div>
</footer>