{% load static %} 

<header class="container-fluid fixed-top p-0">
    {% include 'includes/delivery_banner.html' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'home' %}" class="nav-link">
            <h2 class="navbar-logo mx-2">everneed</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav w-auto mx-auto w-75">
                <!-- Display all products but remove active class bold styling from 'all' if another navbar item is selected -->
                <li class="nav-item dropdown {% if request.resolver_match.url_name == 'products' and not request.GET.category %}active-nav-item{% endif %}">
                    <a class="nav-links mx-4" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        all
                    </a>
                    <div class="dropdown-menu border-0 menu-hide" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">by price</a>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">by rating</a>
                        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">by category</a>
                        <a href="{% url 'products' %}" class="dropdown-item">all products</a>
                    </div>
                </li>
                <li class="nav-item dropdown {% if request.GET.category == 'wear' %}active-nav-item{% endif %}">
                    <a class="nav-links mx-4" href="{% url 'products' %}?category=wear" id="clothing-link" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        wear
                    </a>
                    <!-- <div class="dropdown-menu border-0 menu-hide" aria-labelledby="clothing-link">
                        <a href="" class="dropdown-item">outerwear</a>
                        <a href="" class="dropdown-item">tops</a>
                        <a href="" class="dropdown-item">bottoms</a>
                        <a href="" class="dropdown-item">shoes</a>
                        <a href="" class="dropdown-item">all
                            clothing</a>
                    </div> -->
                </li>
                <li class="nav-item dropdown {% if request.GET.category == 'care' %}active-nav-item{% endif %}">
                    <a class="nav-links mx-4" href="{% url 'products' %}?category=care" id="homeware-link" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        care
                    </a>
                    <!-- <div class="dropdown-menu border-0 menu-hide" aria-labelledby="personal-care-link">
                        <a href="" class="dropdown-item">hygiene</a>
                        <a href="" class="dropdown-item">first aid</a>
                        <a href="" class="dropdown-item">all care</a>
                    </div> -->
                </li>
                <li class="nav-item dropdown {% if request.GET.category == 'eat' %}active-nav-item{% endif %}">
                    <a class="nav-links mx-4" href="{% url 'products' %}?category=eat" id="specials-link" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        eat
                    </a>
                    <!-- <div class="dropdown-menu border-0 menu-hide" aria-labelledby="foodware-link">
                        <a href="" class="dropdown-item">utensils</a>
                        <a href="" class="dropdown-item">drinkware</a>
                        <a href="" class="dropdown-item">storage</a>
                        <a href="" class="dropdown-item">all
                            eat</a>
                    </div> -->
                </li>
                <li class="nav-item dropdown {% if request.GET.category == 'travel' %}active-nav-item{% endif %}">
                    <a class="nav-links mx-4" href="{% url 'products' %}?category=travel" id="specials-link" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        travel
                    </a>
                    <!-- <div class="dropdown-menu border-0 menu-hide" aria-labelledby="travel-items-link">
                        <a href="" class="dropdown-item">bags</a>
                        <a href="" class="dropdown-item">accessories</a>
                        <a href="" class="dropdown-item">safety</a>
                        <a href="" class="dropdown-item">all
                            travel</a>
                    </div> -->
                </li>
                <li class="nav-item dropdown {% if request.resolver_match.url_name == 'article' %}active-nav-item{% endif %}">
                    <a class="nav-links mx-4" href="{% url 'article' %}" title="articles">
                        read
                    </a>
                </li>
            </ul>
            <ul class="nav-menu list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal" title="Search">
                            <div class="text-center mx-2">
                                <img src="{% static 'icons/search.png' %}" class="nav-search" alt="search">
                            </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="nav-link nav-links" href="{% url 'profile' %}" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" title="Profile">
                        <div class="text-center mx-2">
                            <img src="{% if request.user.is_authenticated %}{% static 'icons/logged_in.png' %}{% else %}{% static 'icons/account_circle.png' %}{% endif %}" class="nav-image nav-profile" alt="profile">
                        </div>
                    </a>
                    <div class="dropdown-menu border-0 menu-hide" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Admin Dashboard</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                        <a href="/accounts/logout/" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="/accounts/signup/" class="dropdown-item">Register</a>
                        <a href="/accounts/login/" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="" href="{% url 'wishlist' %}" title="Wishlist">
                        <div class="text-center mx-2">
                            <img src="{% static 'icons/wishlist.png' %}" class="nav-image" alt="wishlist">
                        </div>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="" href="{% url 'bag' %}" title="Bag">
                        <div class="text-center mx-2">
                            <img src="{% static 'icons/bag.png' %}" class="nav-image" alt="shopping bag">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>