{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <!-- Fixed top navbar from Bootstrap-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-2" href="#">everneed</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
            <div class="text-center ">
                <form class="form-inline my-2 my-lg-0">
                    <input id="search-input" class="form-control mr-sm-2 search-box" type="search" placeholder="search"
                        aria-label="Search">
                    <button class="search-button my-2 my-sm-0" onclick="toggleSearchInput()" type="submit"><img
                            src="{% static 'icons/search.png' %}" class="nav-search mx-1"
                            alt="search function"></button>
                </form>
            </div>
            <div class="row mx-2">
                <div class="col mx-1">
                    <div class="text-center">
                        <img src="{% static 'icons/account_circle.png' %}" class="nav-image" alt="account">
                    </div>
                </div>
                <div class="col mx-1">
                    <div class="text-center">
                        <img src="{% static 'icons/wishlist.png' %}" class="nav-image" alt="wishlist">
                    </div>
                </div>
                <div class="col mx-1">
                    <div class="text-center">
                        <img src="{% static 'icons/carbon_fp.png' %}" class="nav-image" alt="carbon footprint value">
                    </div>
                </div>
                <div class="col mx-1">
                    <div class="text-center">
                        <img src="{% static 'icons/bag.png' %}" class="nav-image" alt="shopping bag">
                    </div>
                </div>
            </div>
    </nav>
    {% endwith %}
</header>

<!-- JavaScript for show/hide of search bar -->
<script>
    function toggleSearchInput() {
        var searchInput = document.getElementById("search-input");
        searchInput.classList.toggle("show");
    }
</script>