{% load static %}

<div class="collapse navbar-collapse p-1" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-links mx-4" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                all
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">by price</a>
                <a href="" class="dropdown-item ">by rating</a>
                <a href="" class="dropdown-item ">by category</a>
                <a href="" class="dropdown-item">all products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-links mx-4" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">outerwear</a>
                <a href="" class="dropdown-item">tops</a>
                <a href="" class="dropdown-item">bottoms</a>
                <a href="" class="dropdown-item">shoes</a>
                <a href="" class="dropdown-item">all
                    clothing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-links mx-4" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="personal-care-link">
                <a href="" class="dropdown-item">hygiene</a>
                <a href="" class="dropdown-item">first aid</a>
                <a href="" class="dropdown-item">all care</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-links mx-4" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                eat
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="foodware-link">
                <a href="" class="dropdown-item">utensils</a>
                <a href="" class="dropdown-item">drinkware</a>
                <a href="" class="dropdown-item">storage</a>
                <a href="" class="dropdown-item">all
                    eat</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-links mx-4" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                travel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="travel-items-link">
                <a href="" class="dropdown-item">bags</a>
                <a href="" class="dropdown-item">accessories</a>
                <a href="" class="dropdown-item">safety</a>
                <a href="" class="dropdown-item">all
                    travel</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-links mx-4" href="#">
                read
            </a>
        </li>
    </ul>
</div>