{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container text-center my-3 p-5">
<h1 class="heading-text my-5 pt-3">{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="p-txt my-4">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="form p-3 w-75 pb-5 mx-auto">
{% csrf_token %}
    <button type="submit" class="auth-btn my-2 p-2">{% trans 'Confirm' %}</button>
</form>
</div>
{% else %}
<div class="container text-center my-3 p-5">
{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
</div>
{% endblock %}
