{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="m-4 heading-text">{% trans "Log In" %}</h1>

    <p class="my-3 p-txt">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}" class="special-anchor">sign up</a> first.{% endblocktrans %}
    </p>


    <form class="form p-3 w-75 mx-auto" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button class="btn auth-btn px-3 mt-2 mb-3" type="submit">{% trans "Sign In" %}</button>
        <a class="button secondaryAction d-block special-anchor mb-5" href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?"%}</a>
    </form>
</div>
{% endblock %}
