{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="heading-text">{% trans "Log Out" %}</h1>

    <p class="p-txt mt-2 my-4">Log out securely from your account?</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button type="submit" class="btn auth-btn my-4">Log me out</button>
    </form>

    <div class="mb-3">
        <a href="{% url 'home' %}" class="btn auth-btn my-3 mb-5">Return to Home</a>
    </div>
</div>

{% endblock %}
