{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="m-4 heading-txt">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="form p-3 w-75 mx-auto password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="mx-2 auth-btn p-2 my-3" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
