{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="m-4 heading-text">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="form p-3 w-75 mx-auto password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mx-2 auth-btn p-2 my-3" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
