{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="m-4 text-center heading-text">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="my-3 p-txt text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="form p-3 w-75 text-center mx-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="mx-2 auth-btn p-2 my-3" />
    </form>

    <p class="p-txt">Please <a href="#" data-toggle="modal" data-target="#contactModal" class="special-anchor">contact us</a> if you have any trouble resetting your password.</p>
</div>
{% endblock %}
