{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="heading-text">{% trans "Sign Up" %}</h1>

    <p class="my-3 p-txt">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"
            class="special-anchor">sign in</a>.{% endblocktrans %}
    </p>

    <form class="form p-3 w-75 mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button type="submit" class="btn auth-btn my-4">Register</button>
    </form>
</div>
{% endblock %}
