{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container text-center my-5 item-center p-5">
    <h1 class="heading-text my-5">{% trans "Verify Your E-mail Address" %}</h1>
    <p class="p-txt my-5 pb-5">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
