{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="everneed is a webstore that sells essential, practical, earth-friendly products. Come visit us and learn about your carbon footprint today!">
    <meta name="keywords"
        content="eco-products, zero-waste, carbon-neutral, earth-friendly, better choice, practical products, survival products">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- favicon -->
    <link rel="icon" href="{% static 'icons/en_logo.png' %}" type="image/x-icon for everneed">

    <title>everneed {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top p-0">
        {% include 'includes/delivery_banner.html' %}
        <div id="topnav" class="row bg-white d-lg-flex mx-1 my-2">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link">
                    <h2 class="my-0 navbar-logo">everneed</h2>
                </a>
            </div>
            <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
                <ul class="nav-menu list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item">
                        <form method="GET" action="">
                            <div class="search-field form-inline my-2 my-lg-0 mx-1">
                                <input id="search-input" class="form-control mr-sm-2 search-box rounded-pill" type="search"
                                    placeholder="search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="search-button my-2 my-sm-0" onclick="toggleSearchInput()"
                                        type="submit"><img src="{% static 'icons/search.png' %}" class="nav-search mx-1"
                                            alt="search function"></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" title="Account">
                            <div class="text-center mx-2">
                                <img src="{% static 'icons/account_circle.png' %}" class="nav-image" alt="account">
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Admin Dashboard</a>
                            {% endif %}
                            <a href="" class="dropdown-item">Account</a>
                            <a href="" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="" class="dropdown-item">Register</a>
                            <a href="" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="" href="" title="Wishlist">
                            <div class="text-center mx-2">
                                <img src="{% static 'icons/wishlist.png' %}" class="nav-image" alt="wishlist">
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="" href="" title="Bag">
                            <div class="text-center mx-2">
                                <img src="{% static 'icons/bag.png' %}" class="nav-image" alt="shopping bag">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light mx-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-header.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    <main>
    {% block content %}
    {% endblock %}
    </main>

    {% include 'includes/footer.html' %}  


    {% block postloadjs %}
    <!-- JavaScript for show/hide of search bar -->
    <script>
        function toggleSearchInput() {
            var searchInput = document.getElementById("search-input");
            searchInput.classList.toggle("show");
        }

        var searchField = document.querySelector(".search-field");
        searchField.addEventListener("mouseenter", toggleSearchInput);
        searchField.addEventListener("mouseleave", toggleSearchInput);
    </script>
    {% endblock %}


</body>

</html>