{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="everneed is a webstore that sells essential, practical, earth-friendly products. Come visit us and learn about your carbon footprint today!">
    <meta name="keywords"
        content="eco-products, zero-waste, carbon-neutral, earth-friendly, better choice, practical products, survival products">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- favicon -->
    <link rel="icon" href="{% static 'icons/en_logo.png' %}" type="image/x-icon for everneed">

    <title>everneed {% block extra_title %}{% endblock %}</title>
</head>

<body>
    {% include 'includes/header.html' %}
    <!-- Bootstrap modal for search function-->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title mx-auto" id="searchModalLabel">Search for an Item</h4>
                </div>
                <div class="modal-body text-center">
                    <!-- Search form -->
                    <form id="searchForm">
                        <input type="text" class="form-control search-box mb-2" id="searchInput" placeholder="Search...">
                        <button type="submit" class="search-button my-4 shadow text-center"><img src="{% static 'icons/search.png' %}" class="search-icon mx-1" alt="search icon"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap modal for contact form -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title mx-auto" id="contactModalLabel">Contact form coming soon...</h4>
                </div>
            </div>
        </div>
    </div>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    {% include 'includes/footer.html' %}  


    {% block postloadjs %}
    <script>
        $(document).ready(function () {
            // Close the search modal
            $("#searchModal").on('hidden.bs.modal', function () {
                $("#searchInput").val(""); // Clear the search input when the modal is closed
            });

            // Show and hide dropdown menus on hover and touch for mobile
            $(".nav-item.dropdown").on({
                mouseenter: function () {
                    $(this).find(".dropdown-menu").addClass("show");
                },
                mouseleave: function () {
                    $(this).find(".dropdown-menu").removeClass("show");
                },
                touchstart: function () {
                    $(this).find(".dropdown-menu").addClass("show");
                },
                touchend: function () {
                    $(this).find(".dropdown-menu").removeClass("show");
                }
            });

            $(".list-inline-item.dropdown").on({
                mouseenter: function () {
                    $(this).find(".dropdown-menu").addClass("show");
                },
                mouseleave: function () {
                    $(this).find(".dropdown-menu").removeClass("show");
                },
                touchstart: function () {
                    $(this).find(".dropdown-menu").addClass("show");
                },
                touchend: function () {
                    $(this).find(".dropdown-menu").removeClass("show");
                }
            });
        });
    </script>

    {% endblock %}


</body>

</html>