.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 41px;
    padding: 10px 12px;
    border: 1px solid #194f4970;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #cdcfd3;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #c3c5c9;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #194f4990;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

fieldset select {
    border: none;
}

.fieldset-label {
    font-size: 20px;
    color: var(--forest);
    font-weight: bold;
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #194f49;
    border: 1px solid #194f4980;
}

#payment-form .form-control:focus,
#card-element:focus {
    color: #194f49;
    border: 2px dashed #194f4980;
}

/* prevent duplicate dashed border when countryfield focused */
select#id_country.stripe-style-input.lazyselect.form-control:focus {
    border: none;
}

select#id_country.stripe-style-input.lazyselect.form-control option {
   color: #194f49;
}

.order-confirmation-wrapper {
    border: 2px dashed #194f4990;
    border-radius: 20px;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #194f4980;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

