{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/admin_products.css' %}">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="overlay"></div>
<div class="container my-5">
    <div class="row text-center">
        <div class="col-12 col-md-6 mx-auto">
            <hr>
            <h2 class="section-title mb-4 text-center">Product Management</h2>
            <h5 class="header-txt">Add a Product</h5>
            <hr>
        </div>
    </div>

    <div class="row text-center">
       <div class="col-12 col-md-6 mx-auto">
        <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {% for field in form %}
            {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <div class="text-center">
                <button class="wishlist-btn m-2 p-2" type="submit">Add Product</button>
                <a class="wishlist-btn m-2 p-2" href="{% url 'admin_dashboard' %}">Cancel</a>
            </div>
        </form>
       </div>
    </div>
</div>
{% endblock %}

