{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/admin_product.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="section-title mb-4 text-center">Admin Dashboard</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <a class="wishlist-btn m-1" href="{% url 'add_product' %}">Add Product</a>
            </div>
            <div>
                <a class="wishlist-btn m-1" href="{% url 'edit_product' %}">Edit Product</a></div>
            <div>
                <a class="wishlist-btn m-1" href="">Delete Product</a></div>
            <div>
                <a class="wishlist-btn m-1" href="">Orders</a></div>
        </div>
    </div>


</div>

{% endblock %}