{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/admin_products.css' %}">
{% endblock %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="list-wrapper">
    <div class="ml-3">
    <a href="{% url 'admin_dashboard' %}" class="btn wishlist-btn mt-5 mb-3 p-2 ml-lg-5 ml-md-3 ml-sm-2">
        <span class="icon mr-2">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="">Admin Dashboard</span>
    </a>
    </div>
<div class="container my-5 product-list">
    <h2 class="text-center my-4">Admin Products List</h2>
    <table class="table table-hover m-sm-1">
        <thead>
            <tr>
                <th>Name</th>
                <th>SKU</th>
                <th class="text-center">View Details</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td class="text-center">
                    <a href="{% url 'admin_product_detail' product.id %}" class="btn wishlist-btn p-2">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="btt-button shadow-sm" id="bttBtn">
    <a class="btt-link d-flex h-100" title="Back to Top">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/script.html' %}

{% endblock %}