{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/admin_products.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="section-title my-4 text-center">Admin Dashboard</h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-8 mb-3">
            <a class="admin-btn d-block m-2 p-2 text-center" href="{% url 'add_product' %}"><span class="icon mr-2">
                <i class="fas fa-plus"></i>
            </span>ADD PRODUCT</a>
        </div>
        <div class="col-sm-10 col-lg-8 mb-3">
            <a class="admin-btn d-block m-2 p-2 text-center" href="{% url 'products' %}"><span class="icon mr-2">
                <i class="fas fa-pen-to-square"></i>
            </span>EDIT/DELETE PRODUCT<span class="icon ml-2">
                <i class="fas fa-minus"></i>
            </span></a>
        </div>
        <div class="col-sm-10 col-lg-8 mb-3">
            <a class="admin-btn d-block m-2 p-2 text-center" href=""><span class="icon mr-2">
                    <i class="fas fa-pen"></i>
                </span>ADD ARTICLE</a>
        </div>
        <div class="col-sm-10 col-lg-8 mb-3">
            <a class="admin-btn d-block m-2 p-2 text-center" href=""><span class="icon mr-2">
                    <i class="fas fa-pen-to-square"></i>
                </span>EDIT/DELETE ARTICLE<span class="icon ml-2">
                    <i class="fas fa-minus"></i>
                </span></a>
        </div>
        <div class="col-sm-10 col-lg-8 mb-3">
            <a class="admin-btn d-block m-2 p-2 text-center" href="/admin/"> <span class="icon mr-2">
                <i class="fas fa-gear"></i>
            </span>BACKEND ADMIN PANEL</a>
        </div>
    </div>

</div>

{% endblock %}