{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/admin_products.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <hr>
            <h2 class="section-title mb-4 justify-content-center">Product Management</h2>
            <h5 class="mb-4">Edit Product</h5>
            <hr>
        </div>
    </div>

    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form rounded mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-center">
                    <button class="wishlist-btn m-2 p-2" type="submit">Save Changes</button>
                    <a class="wishlist-btn m-2 p-2" href="{% url 'admin_product_detail' product.id %}">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}