{% extends 'base.html' %}

{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<!-- Layout guided by Boutique Ado walkthrough credit: https://tinyurl.com/y8myvsxz -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <div class="row m-1">
                <p class="mr-5 mb-1 prod-title">{{ product.name }}</p>
                <div class="ml-lg-5"><button class="wishlist-btn p-2">Add to Wishlist<i class="fas fa-heart mx-2"></i></button></div>
                </div>
                <p class="lead mb-0 text-left ml-1 mb-2 font-weight-bold prod-price">€{{ product.price }}</p>
                <!-- {% if product.category.name == 'wear' %}
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-shirt fa-xs mr-2"></i>{{ product.category.friendly_name }}
                </a>
                {% elif product.category.name == 'care' %}
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-kit-medical mr-2"></i>{{ product.category.friendly_name }}
                </a>
                {% elif product.category.name == 'eat' %}
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-utensils mr-2"></i>{{ product.category.friendly_name }}
                </a>
                {% elif product.category.name == 'travel' %}
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-compass mr-2"></i>{{ product.category.friendly_name }}
                </a>
                {% endif %} -->
                <div class="prod-rating ml-1">
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-leaf mr-2"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted"><i class="fas fa-leaf mr-2"></i>No Rating</small>
                    {% endif %}
                </div>
                <p class="mt-3 prod-description">{{ product.description }}</p>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}